@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model Registration.Models.Course

@{
    ViewData["Title"] = Model.FullCourseNumber;
}

<div class="grid rounded-box shadow-lg">
    <div class="card">
        <div class="card-body">
            <div class="prose max-w-none mb-4">
                <h2 class="card-title">
                    @Model.FullCourseNumber() - @Model.Name
                </h2>
                <h3>Description</h3>
                <p class="ml-8">@Model.Description</p>
                <h3>Department</h3>
                <p class="ml-8">@Model.Department.Name</p>
            </div>
            <div class="card-actions">
                @if ((await AuthorizationService.AuthorizeAsync(User, "Staff")).Succeeded)
                {
                    <a asp-action="Edit" asp-route-id="@Model.CourseId" class="btn btn-primary">Edit</a>
                }
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>