@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model IEnumerable<Registration.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<div class="grid grid-cols-3 rounded-box shadow-lg">
    <div class="card col-span-3">
        <div class="card-body">
            <div class="prose max-w-none mb-4">
                <h2 class="card-title">Courses</h2>
            </div>
            <table class="table table-compact">
                <thead>
                    <tr>
                        <th class="pr-16">
                            Course Number
                        </th>
                        <th class="w-full">
                            Name
                        </th>
                        <th class="pr-8"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="hover">
                            <td>
                                <a class="link" asp-action="Details" asp-route-id="@item.CourseId">@item.FullCourseNumber()</a>
                            </td>
                            <td>
                                <a class="link" asp-action="Details" asp-route-id="@item.CourseId">@item.Name</a>
                            </td>
                            
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Staff")).Succeeded)
                            {
                                <td>
                                    <a class="btn btn-xs" asp-action="Edit" asp-route-id="@item.CourseId">Edit</a>
                                    <a class="btn btn-xs" asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                                </td>
                            }
                            @if ((await AuthorizationService.AuthorizeAsync(User, "Student")).Succeeded)
                            {
                                <td>
                                    <a class="btn btn-xs" asp-action="Add" asp-controller="Schedule" asp-route-id="@item.CourseId">Add</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>
                            Course Number
                        </th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            @if ((await AuthorizationService.AuthorizeAsync(User, "Staff")).Succeeded)
            {
                <div class="divider"></div>
                    <div class="justify-end">
                        <a class="btn btn-primary" asp-action="Create">Add Course</a>
                </div>
            }
        </div>
    </div>
</div>